<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2025 &copy; Sentinel. Created & Developed by 
                <a href="https://github.com/exrienz/Sentinel2.0" target="_blank" rel="noopener noreferrer">
                    Muzaffar, Amirul & Irfan
                </a></p>
        </div>
        <div class="float-end">
            <p>
                Powered by 
                <img src="https://seeklogo.com/images/P/paynet-logo-39AF16F3E3-seeklogo.com.png" alt="Paynet Logo" style="height: 20px; vertical-align: middle;">
            </p>        
        </div>
    </div>
</footer>