{% set title = 'Project' %}
{% set filename = 'project.html' %}

{% extends 'src/layouts/master.html' %}

{% block styles %}
<link rel="stylesheet" href="/assets/scss/iconly.scss">
{% endblock %}

{% block content %}
<div class="page-heading">
    <h3>Monthly VA Dashboard</h3>
</div> 
<div class="page-content">
    <!--Row-->
    <section class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>Production Progress</h4>
                </div>
                <div class="card-body">
                    <div id="area"></div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>Non-Production Progress</h4>
                </div>
                <div class="card-body">
                    <div id="area2"></div>
                </div>
            </div>
        </div>
    </section>
    <!--EO Row-->
    <!--Row2-->
    <section class="row">
        <div class="col-12">
            <!-- Input Group Select start -->
            <section class="input-group-select">
                <div class="row justify-content-end"> <!-- Align content to the right -->
                    <div class="col-md-6 mb-4">
                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Show Dashboard by...</option>
                                <option value="1">Overall Risk</option>
                                <option value="1">Overall Status</option>
                                <option value="1">Overall SLA</option>
                                <option value="2">Breachboard</option>
                                <option value="3">Product Status</option>
                                <option value="3">Statistics</option>
                                <option value="3">CVE Stats</option>
                                <option value="3">Export Active Findings to CSV</option>
                            </select>
                            <label class="input-group-text" for="inputGroupSelect01">Options</label>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bootstrap Select end -->
        </div>
    </section>    
    <!--EO Row2-->
    <!--Row3-->
    <section class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>Production | {Default Previous Month | Date Selected by user}</h4><br/>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select Date...</option>
                            <option value="1">12/1/2024</option>
                            <option value="1">12/2/2024</option>
                            <option value="1">12/3/2024</option>
                            <option value="2">12/4/2024</option>
                            <option value="3">12/5/2024</option>
                            <option value="3">12/6/2024</option>
                            <option value="3">12/7/2024</option>
                            <option value="3">12/8/2024</option>
                        </select>
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                </div>
                <div class="card-body">
                    <div id="risk"></div><br>
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Critical</th>
                                    <th>High</th>
                                    <th>Medium</th>
                                    <th>Low</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500"><a href="product.html">APP A</a></td>
                                    <td>20</td>
                                    <td>12</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP B</td>
                                    <td>203</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>244</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP C</td>
                                    <td>33</td>
                                    <td>21</td>
                                    <td>44</td>
                                    <td>233</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP D</td>
                                    <td>44</td>
                                    <td>55</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP E</td>
                                    <td>65</td>
                                    <td>332</td>
                                    <td>443</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP F</td>
                                    <td>323</td>
                                    <td>44</td>
                                    <td>433</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP G</td>
                                    <td>230</td>
                                    <td>54</td>
                                    <td>22</td>
                                    <td>1</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Non-Production | {Default Previous Month | Date Selected by user}</h4><br/>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select Date...</option>
                            <option value="1">12/1/2024</option>
                            <option value="1">12/2/2024</option>
                            <option value="1">12/3/2024</option>
                            <option value="2">12/4/2024</option>
                            <option value="3">12/5/2024</option>
                            <option value="3">12/6/2024</option>
                            <option value="3">12/7/2024</option>
                            <option value="3">12/8/2024</option>
                        </select>
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                </div>
                <div class="card-body">
                    <div id="risk2"></div><br>
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Critical</th>
                                    <th>High</th>
                                    <th>Medium</th>
                                    <th>Low</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500">APP A</td>
                                    <td>20</td>
                                    <td>12</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP B</td>
                                    <td>203</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>244</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP C</td>
                                    <td>33</td>
                                    <td>21</td>
                                    <td>44</td>
                                    <td>233</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP D</td>
                                    <td>44</td>
                                    <td>55</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP E</td>
                                    <td>65</td>
                                    <td>332</td>
                                    <td>443</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP F</td>
                                    <td>323</td>
                                    <td>44</td>
                                    <td>433</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP G</td>
                                    <td>230</td>
                                    <td>54</td>
                                    <td>22</td>
                                    <td>1</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4>Production | {Default Current Month | Date Selected by user}</h4><br/>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select Date...</option>
                            <option value="1">12/1/2024</option>
                            <option value="1">12/2/2024</option>
                            <option value="1">12/3/2024</option>
                            <option value="2">12/4/2024</option>
                            <option value="3">12/5/2024</option>
                            <option value="3">12/6/2024</option>
                            <option value="3">12/7/2024</option>
                            <option value="3">12/8/2024</option>
                        </select>
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                </div>
                <div class="card-body">
                    <div id="risk3"></div><br>
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Critical</th>
                                    <th>High</th>
                                    <th>Medium</th>
                                    <th>Low</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500">APP A</td>
                                    <td>20</td>
                                    <td>12</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP B</td>
                                    <td>203</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>244</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP C</td>
                                    <td>33</td>
                                    <td>21</td>
                                    <td>44</td>
                                    <td>233</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP D</td>
                                    <td>44</td>
                                    <td>55</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP E</td>
                                    <td>65</td>
                                    <td>332</td>
                                    <td>443</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP F</td>
                                    <td>323</td>
                                    <td>44</td>
                                    <td>433</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP G</td>
                                    <td>230</td>
                                    <td>54</td>
                                    <td>22</td>
                                    <td>1</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Non-Production | {Default Current Month | Date Selected by user}</h4><br/>
                    <div class="input-group mb-3">
                        <select class="form-select" id="inputGroupSelect01">
                            <option selected>Select Date...</option>
                            <option value="1">12/1/2024</option>
                            <option value="1">12/2/2024</option>
                            <option value="1">12/3/2024</option>
                            <option value="2">12/4/2024</option>
                            <option value="3">12/5/2024</option>
                            <option value="3">12/6/2024</option>
                            <option value="3">12/7/2024</option>
                            <option value="3">12/8/2024</option>
                        </select>
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                </div>
                <div class="card-body">
                    <div id="risk4"></div><br>
                    <div class="table-responsive">
                        <table class="table table-lg">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Critical</th>
                                    <th>High</th>
                                    <th>Medium</th>
                                    <th>Low</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-bold-500">APP A</td>
                                    <td>20</td>
                                    <td>12</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP B</td>
                                    <td>203</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>244</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP C</td>
                                    <td>33</td>
                                    <td>21</td>
                                    <td>44</td>
                                    <td>233</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP D</td>
                                    <td>44</td>
                                    <td>55</td>
                                    <td>22</td>
                                    <td>33</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP E</td>
                                    <td>65</td>
                                    <td>332</td>
                                    <td>443</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP F</td>
                                    <td>323</td>
                                    <td>44</td>
                                    <td>433</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-500">APP G</td>
                                    <td>230</td>
                                    <td>54</td>
                                    <td>22</td>
                                    <td>1</td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--EO Row3-->
</div>

{% endblock %}
{% block js %}
<script src="assets/extensions/dayjs/dayjs.min.js"></script>
<script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="assets/static/js/pages/ui-apexchart.js"></script>
{% endblock %}
